.cabecalho {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    
}

    .cabecalho-imagem{
        width: 10%;
 }
    
 .cabecalho-lista-item {
    display: inline-block;

 }