.cabecalho {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;

}
body{font-family: 'Sedgwick Ave Display', cursive;
    justify-content: center;

}
    .cabecalho-imagem{
        width: 10%;
 }
    
 .cabecalho-lista-item {
    display: inline-block;
    margin:10px 50px;

 }

 